nav a {
   transition: background-color 0.3s ease;
}

nav a:hover {
   background-color: #555;
}
body {
  background: linear-gradient(to right, #f4f4f4, #dfe9f3);
  font-family: Arial, Helvetica, sans-serif;
  margin: o;
  padding: 0;
  color: #333;
}
section {
   transition: transform 0.3s ease;
}

section:hover {
   transform: scale(1.02);
}
table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

table, th, td {
   border: 1px solid #333;
}

th, td {
   padding: 10px;
   text-align: left;
}

th {
   background-color: #4CAF50;
   color: white;
}

caption {
   font-size: 1.2em;
   font-weight: bold;
   margin-bottom: 10px;
}
main section {
   transition: transform 0.3s ease;
}

main section:hover {
   transform: scale(1.02);
}


header {
  text-align: center;
  background-color: #4a90e2;
  color: white;
  padding: 20px;
}
header h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
}
nav ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0;
}
nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  transition: background-color 0.3s, color 0.3s;
}
nav ul li a:hover {
  background-color: #4a90e2;
  color: #fff;
  border-radius: 5px;
}
section {
  background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px, 2px, 8px rgba(0, 0, 0, 0.2);
}
footer {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 10px;
  font-size: 0.8em;
  margin-top: 20px;
}
